$white: #fff;
.margin-top50 {
//   margin-top: 50px;
  margin-left: 30px;
}
.credit {
  margin-top: 50px;
  height: 425px;;
  width: 650px;
  border: 0;
  border-radius: 10px;
  background: url(http://www.psdgraphics.com/file/world-map-background.jpg); 
  background-size: cover;
  margin: 20px;
  color: $white;
  &__bank {
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
  }
  &__mc {
    width: 100px;
    float: right;
  }
  &__card-number {
    // height: 91px;
    padding-top: 40px;
    // font-weight: 600;
    font-size: 35px;
    letter-spacing: 2px;
  }
  &__ccv {
    height: 30px;
    float: right;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__name,
  &__date{
    text-transform: uppercase;
    // font-weight: 600;
    font-size: 20px;
    height: 40px;
  }
  label {
    color: $white;
  }
}


.dataEntry {
    margin: 10px;
}
.dataEntry>input{
    margin-left: 2%;
}

// .row {
//     display: table-caption;
//     flex-wrap: wrap;
//     text-align: none;
// }

#expDate,#name,#number,#cvv{
    text-align-last: none;
    
}