footer{
    background: rgb(250, 228, 157);
    margin: 1%;
}
h5{
    color:#000;
    padding:2%;
}
footer li{
    padding:2%;
}
#paymentImg{
    display: contents;
}
.footerImg{
    margin: 5%;
}
#myfooter
{
    margin: 0;
    height: 30%;
}