.header{
    display: flex;
}
h1{
    margin-right: auto;
}
.link{
    margin: 2%;
    text-decoration: none;
    text-align: center;
}

.signIn-header{
    list-style-type: none;
}
#navbarSupportedContent{
    padding: 0%;
    margin:0%;
    display: -webkit-inline-box;
}
.topDiv{
    float: right;
    margin-right:0%;
}
.search{
    margin-top: 1.5%;
}
.logo{
    display: contents;
}