/* #mycart{
padding: 20px 0;
font-size: 12px;
} */

#total-div
{
margin-top: 40px;
   background:#16A085;
   padding: 10px
}

#subtotal-div
{
    border-top: 1px solid #ddd;
    margin-top: 10px
}
.img-top
{
    height:150px;
    width:200px
}
#checkout
{
    margin:20px;
    color:white;
    background: grey
}