.a-button-input{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 20;
    
}
.div{    
    text-align: center; 
}
.amount-div{
    margin-left: 10%;
}
.a-button-input{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 20;
    
   }
   div{ 
    text-align: center; 
   }
   .amount-div{
    margin-left: 30%;
   }

   #balancelabel{
    margin-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
 
   }
